name: Test pyblock

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - created

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8, 3.9, 3.10]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip flit
          flit install --symlink --extras=opts,test --deps=production
      - name: Test with pytest
        run: |
          python -m pytest pyblock --cov=pyblock --cov-report=xml --doctest-modules
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
